<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="contact.recipient" value="ariel.illouz@gmail.com"/>
    <!--<add key="contact.recipient" value="avihu@mdvia.net"/>-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>